# Ignore the SQLite database
db.sqlite3

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore local environment variables
.env

# Ignore user-uploaded media
media/
# Ignore collected static files
staticfiles/